<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        FakePinterest
        {% endblock %} 
      
    </title>
</head>
{% block body%}
<body>
    <h1>FakePinterest</h1>
    <p>Bem-vindo ao FakePinterest, a plataforma de compartilhamento de imagens e ideias para inspirar sua criatividade!</p>
     {% block formulario %}
    <form method="POST">
        {{form.csrf_token}} 
        {{form.email.label}} {{form.email}} <br>
        {{form.senha.label}} {{form.senha}} <br>
        {{form.botao_submit_login()}}
    </form>
    {% endblock %}
</body>
{% endblock %}
</html>